<!doctype HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>ONLINE MULTIPLAYER PONG</title>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
   <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
   <script src="phaser.min.js"></script>
   <script src="mainState.js"></script>

   <style type="text/css">
	body {
		margin:0;
		padding:0;
		width:100%;
		height:100%;
		overflow:hidden;
	}
	</style>

 </head>

 <body>
 	<div style="position:absolute;padding:5px;">
 	<p id="roomNum">NaN</p>
 	<p id="gameStatus">NaN</p>
 	<p id="inputUpdate">Score: 0 - 0</p>
 	</div>

	<script type="text/javascript">
		var game = null;

		window.onload = function() {
			game = new Phaser.Game('100%','100%',Phaser.AUTO,'O');
			game.state.add('Main', Scene.Main);
			game.state.start('Main');
		};
	</script>
 </body>
 </html>